#game-container {
  height: 600px;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  justify-content: center;
  visibility: visible;
}

.cell {
  width: 150px;
  height: 50px;
  border: 2px solid #000;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

input {
  text-align: center;
  width: 200px;
  height: 40px;
  font-size: 18px;
  color: #000;
  border: 2px solid #000;
  font-weight: bold;
  background-color: white;
}

button {
  width: 150px;
  height: 40px;
  font-size: 16px;
}

.invalid-feedback {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.word-container {
  display: flex;
  gap: 5px;
}

.letter-cell {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 7px;
}

.correct {
  border: 2px solid #228b22;
  background-color: #4cbb17;
  color: whitesmoke;
}

.wrong {
  border: 2px solid #71797e;
  background-color: #a9a9a9;
  color: whitesmoke;
}

.misplaced {
  border: 2px solid #ffc72c;
  background-color: #ffd700;
  color: whitesmoke;
}
